## Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Data Loading

In [5]:
df = pd.read_csv('../3_Data/processed/2025_hourly_all_clean.csv')
df.head()

  tpep_pickup_datetime  passenger_demand  taxi_demand
0  2025-01-01 00:00:00              9132         7344
1  2025-01-01 01:00:00              8996         8468
2  2025-01-01 02:00:00              7364         7257
3  2025-01-01 03:00:00              4904         4915
4  2025-01-01 04:00:00              3015         2918